$colors: (
  primary: (
    100: rgba(92, 95, 88, 0.651),
    400: rgb(92, 95, 88)
  ),
  secondary: (
    400: rgb(230, 0, 187),
    500: rgb(179, 17, 255)
  ),
  neutral: (
    100: rgb(255, 255, 255),
    200: rgb(227, 237, 247),
    300: rgb(212, 215, 219),
    400: rgb(115, 122, 130),
    800: rgb(54, 57, 63),
    900: rgb(26, 28, 29)
  ),
  "blue": (
    100: rgb(128, 194, 252),
    200: rgb(99, 169, 231),
    300: rgb(77, 154, 221),
    400: rgb(45, 129, 202),
    500: rgb(25, 97, 160),
    600: rgb(6, 85, 153),
    700: rgb(3, 57, 104)
  ),
  "green": (
    100: rgb(224, 255, 209),
    200: rgb(196, 255, 168),
    300: rgb(175, 255, 138),
    400: rgb(118, 221, 70),
    500: rgb(89, 194, 41),
    600: rgb(58, 184, 0),
    700: rgb(50, 148, 5),
    800: rgb(40, 118, 4),
    900: rgb(22, 64, 2)
  ),
  "red": (
    100: rgb(255, 225, 225),
    200: rgb(255, 194, 194),
    300: rgb(254, 128, 128),
    400: rgb(254, 103, 103),
    500: rgb(243, 79, 79),
    600: rgb(242, 2, 2),
    700: rgb(199, 15, 15),
    800: rgb(152, 1, 1),
    900: rgb(81, 0, 0)
  ),
  "yellow": (
    100: rgb(249, 240, 216),
    200: rgb(239, 219, 159),
    300: rgb(224, 185, 66),
    500: rgb(184, 146, 30),
    700: rgb(136, 108, 22),
    900: rgb(92, 73, 15)
  )
);

$backgrounds: (
  light: (
    100: rgb(240, 245, 249),
    400: rgb(231, 235, 238)
  )
)